.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* flex-flow: column; */
  /* align-items: flex-end; */
  height: 100%;
}

.Logo {
  color: white;
  padding-left: 20px;
}

.Auth {
  display: flex;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
